<div class="comment-form">
  <%= form_for @new_comment do |f| %>
    <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
    <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
    <%= f.text_area :body, class: 'form-control', placeholder: "Hi, please use markdown.", rows: 5 %>
    <%= submit_tag "Post comment", class: 'button expanded' %>
  <% end %>
</div>
