<div class="menu">
  <li><i class="fa fa-th-large"> <%= link_to 'Categories', categories_path %></i></li>
</div>
<div class="topics">
  <table>
    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td width="940px" class='title'><%= link_to topic.title, topic %></td>
          <td class="category label <%= topic.category.label_class %>">
            <%= link_to topic.category.title, category_path(topic.category.id) unless topic.category == nil %>
          </td>
          <td class='created-at'><%= time_ago_in_words(topic.created_at) %> ago</td>
          <td class='avatar float-right'><%= link_to image_tag(topic.user.avatar.url(:thumb)), user_path(topic.user.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
