<div class="group">
  <div class="header-image ">
    <%# image_tag @anime.header_image.url(:large) %>
    <%= image_tag "",
        data: {
          interchange: "
          [#{@group.header_image.url(:medium)}, small],
          [#{@group.header_image.url(:medium)}, medium],
          [#{@group.header_image.url(:large)}, large]
          "
        }
    %>
  </div>
  <div class="row">
    <div class="small-12 medium-2 large-2 columns">
      <div class="avatar">
        <%= image_tag "",
            data: {
              interchange: "
              [#{@group.avatar.url(:medium)}, small],
              [#{@group.avatar.url(:large)}, medium],
              [#{@group.avatar.url(:large)}, large]
              "
            }
        %>
      </div>
    </div>
    <div class="small-12 medium-2 large-10 columns">
      <div class="title">
        <%= @group.title %>
      </div>
      <div class="bio">
        <blockquote><%= @group.bio %></blockquote>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 columns about">
      <div class="summary">
        <% if @group.summary.blank? %>
          <p>Nothing here</p>
        <% else %>
          <p><%= @group.summary %></p>
        <% end %>
      </div>
    </div>
    <div class="large-6 columns">
    </div>
  </div>
</div>
