<div class="user-profile">
  <div class="header-image ">
    <%# image_tag @anime.header_image.url(:large) %>
    <%= image_tag "",
        data: {
          interchange: "
          [#{@user.header_image.url(:medium)}, small],
          [#{@user.header_image.url(:medium)}, medium],
          [#{@user.header_image.url(:large)}, large]
          "
        }
    %>
  </div>
  <div class="row">
    <div class="small-12 medium-2 columns">
      <div class="avatar">
        <%= image_tag "",
            data: {
              interchange: "
              [#{@user.avatar.url(:medium)}, small],
              [#{@user.avatar.url(:large)}, medium],
              [#{@user.avatar.url(:large)}, large]
              "
            }
        %>
      </div>
    </div>
    <div class="small-12 medium-2 columns">
      <div class="username">
        <strong><%= @user.username.upcase %></strong>
      </div>
    </div>
    <div class="small-12 large-8 columns">
      <ul class="menu ext-links">
      <li><%= link_to "Forum", user_forum_path(@user) %></li>
      <li><%= link_to "Events", user_events_path(@user) %></li>
      <li><%= link_to "Anime List", user_animelist_path(@user) %></li>
      <li><%= link_to "Friends" %></li>
      <li>
        <div id="user_<%= @user.id %>_following" class="favorite-button">
        <%= render partial: 'users/following', locals: {user: @user} unless current_user == @user %>
        </div>
      </li>
    </ul>
    </div>
  </div>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Status</th>
          <th>Episodes</th>
          <th>Re-Watched</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <% @animelists.each do |list| %>
          <tr>
            <td width="10"><%= link_to image_tag(list.anime.cover_image.url(:thumb)), list.anime %></td>
            <td width="400"><%= list.anime.title %></td>
            <td width="200">
              <%= list.status %>
            </td>
            <td>
              <%= list.episodes_watched %>/ <%= list.anime.episodes %>
            </td>
            <td>
              <%= list.rewatched %>
            </td>
            <td>
              <%= link_to "Update animelist", list.anime, class: 'update-button' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @animelists %>
  </div>
</div>


<% if false %>
  <td width="200">
    <%= best_in_place [list.anime, list], :status, type: :select,
                        collection: [
                          ["Currently Watching" , "Currently Watching"],
                          ["Plan to Watch" , "Plan to Watch"],
                          ["Completed" , "Completed"],
                          ["On Hold" , "On Hold"],
                          ["Dropped" , "Dropped"]
                        ],
                        class: 'add-to-list button expanded',
                        place_holder: "Add to library" %>
  </td>
  <td><%= best_in_place [list.anime, list], :episodes_watched %>/ <%= list.anime.episodes %></td>
  <td><%= best_in_place [list.anime, list], :rewatched %></td>
<% end %>
