<div class="user-profile">
  <div class="header-image ">
    <%# image_tag @anime.header_image.url(:large) %>
    <%= image_tag "",
        data: {
          interchange: "
          [#{@user.header_image.url(:small)}, small],
          [#{@user.header_image.url(:medium)}, medium],
          [#{@user.header_image.url(:large)}, large]
          "
        }
    %>
  </div>
  <div class="row">
    <div class="small-12 medium-2 columns">
      <div class="avatar">
        <%= image_tag "",
            data: {
              interchange: "
              [#{@user.avatar.url(:medium)}, small],
              [#{@user.avatar.url(:large)}, medium],
              [#{@user.avatar.url(:large)}, large]
              "
            }
        %>
      </div>
    </div>
    <div class="small-12 medium-2 columns">
      <div class="username">
        <strong><%= @user.username.upcase %></strong>
      </div>
    </div>
    <div class="large-8 columns">
      <ul class="vertical medium-horizontal menu">
      <li><%= link_to "Forum", user_forum_path(@user) %></li>
      <li><%= link_to "Events", user_events_path(@user) %></li>
      <li><%= link_to "Anime List" %></li>
      <li><%= link_to "Friends" %></li>
      <li><%= render 'following' unless current_user == @user %></li>
    </ul>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="favorite-anime">
        <h6 class="text-center">Favorite Anime</h6>
        <% @user.animes_marked_as_favorite.limit(6).each do |anime| %>
          <div class="large-4 columns">
            <%= link_to image_tag(anime.cover_image.url(:medium)) %>
            <h6><%= anime.title %></h6>
          </div>
        <% end %>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="favorite-events">
        <h6 class="text-center">Events attending</h6>
        <% @user.events_marked_as_attending.limit(4).each do |event| %>
          <div class="large-6 columns">
            <%= link_to image_tag(event.header_image.url(:medium)) %>
            <h6><%= event.name %></h6>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if nil %>
    <div class="row">
      <div class="large-6 columns"></div>
      <div class="large-6 columns">
        <h3><%= @user.username.pluralize %> Activity</h3>
        <%= render partial: 'activities/activity' %>
      </div>
    </div>
  <% end %>
</div>
