<div class="home">
  <div class="large-3 columns margin-top">
    <div class="mini-profile">
      <div class="header">
        <%= image_tag @user.header_image.url(:large) %>
      </div>
      <div class="user">
        <%= image_tag @user.avatar.url(:thumb) %>
        <%= @user.username %>
      </div>
    </div>
    <div class="popular-events hide-for-small-only">
      <h4>Popular Events</h4>
      <% @events.each do |event|%>
        <%= link_to image_tag(event.header_image), event %>
      <% end %>
    </div>
  </div>

  <div class="large-6 columns margin-top">
    <%= render 'microposts/form' %>
    <br>
    <div class="microposts">
      <%= render partial: "comments/template", locals: {commentable: @user, new_comment: @comment} if user_signed_in? %>
      <% @comments.each do |comment| %>
        <div class="media-object">
          <div class="media-object-section">
            <div class="thumbnail">
              <%= link_to image_tag(comment.user.avatar.url(:thumb)), comment.user %>
            </div>
          </div>
          <div class="media-object-section">
            <%= comment.user.username %> posted to <%= comment.commentable_type %>
            <p><%= markdown(comment.body) %></p>
            <%#= render partial: 'commnetss/like', locals: {micropost: micropost} unless micropost.user_id == @user.id  %>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>

  <div class="large-3 columns hide-for-small-only margin-top">
    <div class="who-to-follow">
      <h4>Who To Follow</h4>
      <% @users.each do |user| %>
        <div class="media-object">
          <div class="media-object-section align-self-center">
            <div class="thumbnail">
              <%= link_to image_tag(user.avatar.url(:thumb)), user_path(user) %>
            </div>
          </div>
          <div class="media-object-section main-section">
            <%= user.username %>
            <div id="user_<%= user.id %>_following" class="favorite-button">
              <%= render partial: 'users/following', locals: {user: user} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="popular-topics">
      <h4>Popular Topics</h4>
      <% @topics.each do |topic| %>
        <p><%= link_to topic.title, topic %></p>
      <% end %>
    </div>
  </div>
</div>
