<section class='login'>
  <div class='row'>
    <div class='medium-12 columns'>
      <h1>Your #1 Anime Source</h1>
      <h3>All your anime information & shows in one site.</h3>
    </div>
  </div>
  <div class='row'>
    <div class='medium-7 medium-centered columns'>
      <%= simple_form_for(:user, :url => session_path(:user)) do |f| %>
        <div class='row'>
          <div class='medium-12 columns'>
            <%= f.input :email, required: false %>
          </div>
        </div>
        <div class='row'>
          <div class='medium-12 columns'>
            <%= f.input :password, required: false  %>
          </div>
        </div>
        <div class='row'>
          <div class='medium-12 columns'>
            <button class='button', type="submit">Log In</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns show-for-large'>
      <%= image_tag("chibi.png", class: 'robot') %>
    </div>
    <div class='medium-6 columns show-for-large'>
      <%= image_tag("killlakill.png", class: 'girl') %>
    </div>
  </div>
</section>
<section class='features'>
  <div class='row'>
    <div class='small-12 medium-4 columns'>
      <%= image_tag("feature-1.png") %>
      <h3>Lorem dolor set</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, atque, maxime, blanditiis, quod consequatur explicabo optio officiis.preview-wrapperaliquam ducimus sed accusantium laudantium dolores cupiditate omnis esse eveniet tenetur et obcaecati.</p>
    </div>
    <div class='small-12 medium-4 columns'>
      <%= image_tag("feature-2.png") %>
      <h3>Lorem dolor set</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, nulla ducimus sequi magni sint nesciunt numquam distinctio illum debitis eligendi reprehenderit sapiente maiores optio nobis enim incidunt corrupti. Sit, officiis!</p>
    </div>
    <div class='small-12 medium-4 columns'>
      <%= image_tag("feature-3.png") %>
      <h3>Lorem dolor set</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, est, aut odit culpa consectetur sed voluptatem cumque ex enim ipsam rerum aliquam expedita laudantium porro praesentium perspiciatis rem voluptatibus facilis!</p>
    </div>
  </div>
</section>
<section class='previews show-for-medium'>
  <div class='row full-width'>
    <div class='previews-scroll'>
      <% Anime.all.each do |anime| %>
        <div>
          <%= image_tag anime.cover_image.url(:large) %>
          <button class='small button'><%= link_to "View Now", anime %></button>
        </div>
      <% end %>
    </div>
  </div>
</section>
