<div class="facets-nav">
  <h4 class="browse-anime">Browse <span>Anime</span></h4>
  <% if @animes.aggs["aired_on"].present? %>
    <h4>Year</h4>
    <ul>
      <% @animes.aggs["aired_on"]["buckets"].sample(5).each do |filter| %>
        <li>
          <div class="year-name float-left">
            <%= link_to "#{filter["key"]}", "/anime?aired_on=#{filter["key"]}" %>
          </div>
          <div class="year-count float-right">
            (<%= "#{filter["doc_count"]}" %>)
          </div>
        </li>
        <br>
      <% end %>
    </ul>
  <% end %>
  <% if @animes.aggs["season_name"].present? %>
    <h4>Seasons</h4>
    <ul>
      <% @animes.aggs["season_name"]["buckets"].each do |filter| %>
        <li>
          <div class="season-name float-left">
            <%= link_to "#{filter["key"]}", "/anime?season_name=#{filter["key"]}", class: 'float-left' %>
          </div>
          <div class="season-count float-right">
            (<%= "#{filter["doc_count"]}" %>)
          </div>
        </li>
        <br>
      <% end %>
    </ul>
  <% end %>
  <% if @animes.aggs["genres"].present? %>
    <h4>Genres</h4>
    <ul>
      <% @animes.aggs["genres"]["buckets"].each do |filter| %>
        <li>
          <div class="genre-name float-left">
            <%= link_to "#{filter["key"]}", "/anime?genres=#{filter["key"]}" %>
          </div>
          <div class="genre-count float-right">
            (<%= "#{filter["doc_count"]}" %>)
          </div>
        </li>
        <br>
      <% end %>
    </ul>
  <% end %>
</div>
