<div class=" animes off canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
      <%#= render "facets" %>
      <div class="browse-anime">
        <h4 class="browse-anime">Browse <span>Anime</span></h4>
        <ul class="menu vertical">
          <li><%= link_to "Seasons", seasons_path %></li>
          <li><a href="#">Popular</a></li>
          <li><a href="#">By Year</a></li>
          <li><%= link_to "Genre", genres_path %></li>
        </ul>
      </div>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="anime-cover">
        <% @animes.each do |anime| %>
          <div class="small-12 medium-6 large-6 columns">
            <div class="anime-list">
              <span data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover='false' tabindex=1 title="<%= anime.title %>">
                <%= link_to image_tag("",
                  data: {
                    interchange: "
                    [#{anime.header_image.url(:medium)}, medium],
                    [#{anime.header_image.url(:medium)}, large]
                    "
                  }), anime
                 %>
              </span>
            </div>
          </div>
        <% end %>
        <% @all_animes.each do |anime| %>
          <div class="small-6 medium-2 large-2 columns">
            <div class="anime-list">
              <span data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover='false' tabindex=1 title="<%= anime.title %>">
                <%= link_to image_tag("",
                  data: {
                    interchange: "
                    [#{anime.cover_image.url(:medium)}, small]
                    [#{anime.cover_image.url(:large)}, medium],
                    [#{anime.cover_image.url(:large)}, large]
                    "
                  }), anime
                 %>
              </span>
            </div>
          </div>
        <% end %>
        <%= paginate @all_animes %>
      </div>
    </div>
  </div>
</div>
