<div class="anime">
  <div class="large-12">
    <div class="header-image hide-for-small-only">
      <%# image_tag @anime.header_image.url(:large) %>
      <%= image_tag "",
          data: {
            interchange: "
            [#{@anime.header_image.url(:medium)}, medium],
            [#{@anime.header_image.url(:large)}, large]
            "
          }
      %>
    </div>
  </div>

  <div class="row small-background-color">
    <div class="small-12 medium-4 large-3 columns">
      <div class="cover-image">
        <%= image_tag @anime.cover_image.url(:large) %>
      </div>
    </div>
    <div class="small-12 medium-4 large-3 columns">
      <div class="anime-name">
        <h1><%= @anime.name %></h1>
      </div>
    </div>
    <div class="large-6 large-offset-10 columns">
      <div div id="anime_<%= @anime.id %>_favorite" class="favorite-button">
			  <%= render partial: 'favorite', locals: {anime: @anime} %>
			</div>
      <div class="animelist-button">
        <p><a data-open="exampleModal1">Add to Animelist</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="anime-synopsis">
        <h4>Synopsis</h4>
        <p>
          <%= @anime.synopsis %>
        </p>
      </div>
    </div>
    <div class="small-12 medium-6 columns">
      <div class="anime-info">
        <h4>Anime info</h4>
        <div class="small-12 columns">
          <div class="medium-6 columns">
            <div class="bar">Aired on</div>
          </div>
          <div class="medium-6 columns">
            <p class="white-bar"><%= @anime.aired_on %></p>
          </div>
        </div>
        <div class="small-12 columns">
          <div class="medium-6 columns">
            <div class="bar">Ended on</div>
          </div>
          <div class="medium-6 columns">
            <p class="white-bar"><%= @anime.ended_on %></p>
          </div>
        </div>
        <div class="small-12 columns">
          <div class="medium-6 columns">
            <div class="bar">Season</div>
          </div>
          <div class="medium-6 columns">
            <p class="white-bar"><%= @anime.season.name %></p>
          </div>
        </div>
        <div class="small-12 columns">
          <div class="medium-6 columns">
            <div class="bar">Duration</div>
          </div>
          <div class="medium-6 columns">
            <p class="white-bar"><%= @anime.duration %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reveal form" id="exampleModal1" data-reveal>
  <div id="animelist">
    <%= render partial: 'animelists/form', locals: {animelist: @animelist}%>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
