<div class="anime">
  <div class="hide-for-small-only header-image ">
    <%# image_tag @anime.header_image.url(:large) %>
    <%= image_tag "",
        data: {
          interchange: "
          [#{@anime.header_image.url(:medium)}, medium],
          [#{@anime.header_image.url(:large)}, large]
          "
        }
    %>
  </div>
  <div class="row info">
    <div class="small-12 medium-3 large-2 columns left">
      <div class="cover-image">
        <%= image_tag "",
            data: {
              interchange: "
              [#{@anime.cover_image.url(:medium)}, small],
              [#{@anime.cover_image.url(:large)}, medium],
              [#{@anime.cover_image.url(:large)}, large]
              "
            }
        %>
      </div>
      <div class="crunchyroll button expanded hide-for-small-only">
        <%= link_to "Crunchyroll", "http://#{@anime.crunchyroll}", target: "_blank" %>
      </div>
      <div class="official-site button expanded hide-for-small-only">
        <%= link_to "Official site", "http://#{@anime.official_site}", target: "_blank" %>
      </div>
      <div class="wiki button expanded hide-for-small-only">
        <%= link_to "Wiki", @anime.wiki, target: "_blank" %>
      </div>
    </div>
    <div class="small-12 medium-6 large-7 columns middle">
      <h1 class="anime-title"><%= @anime.title %></h1>
      <h5 class="anime-japanese"><%= @anime.japanese %></h5>
      <ul class="menu genres">
        <% @anime.genres.each do |genre| %>
          <li class="secondary label"><%= link_to genre.title, genre_path(genre) %></li>
        <% end %>
      </ul>
      <ul class="menu details">
        <li class="english">
          English: <%= @anime.english %>,
        </li>
        <li class="aired">
          Aired: <%= @anime.aired_on.strftime("%b %d, %Y") unless @anime.aired_on == nil  %>,
        </li>
        <li class="ended">
          Ended: <%= @anime.ended_on.strftime("%b %d, %Y") unless @anime.ended_on == nil %>,
        </li>
        <br>
        <li class="duration">
          Duration: <%= @anime.duration %>,
        </li>
        <li class="episodes">
        Episodes: <%= @anime.episodes %>,
        </li>
        <li class="season">
          Season: <span><%= link_to @anime.season.title, season_path(@anime.season.slug) %></span>,
        </li>
        <li class="type_of">
           Type of: <%= @anime.type_of %>.
        </li>
        <li class="rating">
          Rating: <%= @anime.rating %>
        </li>
        <br>
        <li class="producer">
          Producers: <% @anime.producers.each do |producer| %>
            <span><%= link_to producer.title, producer_path(producer) %></span>
          <% end %>
        </li>
      </ul>
      <hr>
      <div class="synopsis"><%= simple_format(@anime.synopsis) %></div>
    </div>
    <div class="small-12 medium-3 large-3 columns right">
      <div id="anime_<%= @anime.id %>_favorite" class="favorite-button">
        <%= render partial: 'favorite', locals: {anime: @anime} %>
      </div>
      <!--<div class="add-to-list button expanded">Add to list</div>-->
      <h4>Reviews</h4>
      <%= link_to "Write a review", new_anime_review_path(@anime, @review), class: 'button expanded write-a-review' %>
      <div class="reviews">
        <% @reviews.each do |review| %>
          <p>
            <%= link_to truncate(review.content, length: 200), anime_review_path(@anime, review) %>
            <%= link_to "Read more", anime_review_path(@anime, review), class: 'read-more' %>
          </p>
          <span><%= review.user.username %> <%= link_to image_tag(review.user.avatar.url(:thumb)), review.user %></span>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
















<% if false %>
  <div class="reveal form" id="exampleModal1" data-reveal>
    <div id="animelist">
      <%= render partial: 'animelists/form', locals: {animelist: @animelist} %>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
