<div class="anime">
  <div class="hide-for-small-only header-image ">
    <%# image_tag @anime.header_image.url(:large) %>
    <%= image_tag "",
        data: {
          interchange: "
          [#{@anime.header_image.url(:medium)}, medium],
          [#{@anime.header_image.url(:large)}, large]
          "
        }
    %>
  </div>
  <div class="row info">
    <div class="small-12 medium-3 large-2 columns left">
      <div class="cover-image">
        <%= image_tag "",
            data: {
              interchange: "
              [#{@anime.cover_image.url(:mobile)}, small],
              [#{@anime.cover_image.url(:large)}, medium],
              [#{@anime.cover_image.url(:large)}, large]
              "
            }
        %>
      </div>
      <% if @anime.crunchyroll.blank? %>
      <% else %>
        <div class="crunchyroll button expanded hide-for-small-only">
          <%= link_to "Crunchyroll", "#{@anime.crunchyroll}", target: "_blank" %>
        </div>
      <% end %>
      <!--
      <div class="official-site button expanded hide-for-small-only">
        <%#= link_to "Official site", "http://#{@anime.official_site}", target: "_blank" %>
      </div>
      -->
      <% if @anime.wiki.blank? %>
      <% else %>
        <div class="wiki button expanded hide-for-small-only">
          <%= link_to "Wiki", @anime.wiki, target: "_blank" %>
        </div>
      <% end %>
    </div>
    <div class="small-12 medium-6 large-7 columns middle">
      <h1 class="anime-title"><%= @anime.title %></h1>
      <h5 class="anime-japanese"><%= @anime.japanese %></h5>
      <ul class="genres">
        <% @anime.genres.each do |genre| %>
          <li class="secondary label"><%= link_to genre.title, genre_path(genre) %></li>
        <% end %>
      </ul>
      <!-- Small screen only -->
      <div class="show-for-small-only">

        <div class="small-12 columns">
          <div class="english">
            English: <%= @anime.english %>
          </div>
        </div>

        <div class="small-6 columns show-for-small-only">
          <div class="aired">
            Aired: <%= @anime.aired_on.strftime("%b %d, %Y") unless @anime.aired_on == nil  %>
          </div>
        </div>
        <div class="small-6 columns show-for-small-only">
          <div class="ended">
            Ended: <%= @anime.ended_on.strftime("%b %d, %Y") unless @anime.ended_on == nil %>
          </div>
        </div>

        <div class="small-6 columns">
          Duration: <%= @anime.duration %>
        </div>
        <div class="small-6 columns">
          Episodes: <%= @anime.episodes %>
        </div>

        <div class="small-6 columns">
          <div class="type_of">
            Type of: <%= @anime.type_of %>
          </div>
        </div>
        <div class="small-6 columns">
          <div class="rating">
            Rating: <%= @anime.rating %>
          </div>
        </div>

        <div class="small-12 columns">
          <div class="season">
            Season: <span><%= link_to @anime.season.title, season_path(@anime.season.slug) %></span>
          </div>
        </div>
      </div>
      <!-- Small screen only -->


      <ul class="menu details hide-for-small-only">
        <li class="english">
          English: <%= @anime.english %>,
        </li>
        <li class="aired">
          Aired: <%= @anime.aired_on.strftime("%b %d, %Y") unless @anime.aired_on == nil  %>,
        </li>
        <li class="ended">
          Ended: <%= @anime.ended_on.strftime("%b %d, %Y") unless @anime.ended_on == nil %>,
        </li>
        <br>
        <li class="duration">
          Duration: <%= @anime.duration %>,
        </li>
        <li class="episodes">
        Episodes: <%= @anime.episodes %>,
        </li>
        <li class="season">
          Season: <span><%= link_to @anime.season.title, season_path(@anime.season.slug) %></span>,
        </li>
        <li class="type_of">
           Type of: <%= @anime.type_of %>.
        </li>
        <br>
        <li class="rating">
          Rating: <%= @anime.rating %>
        </li>
        <br>
        <li class="producer">
          Producers: <% @anime.producers.each do |producer| %>
            <span><%= link_to producer.title, producer_path(producer) %>,</span>
          <% end %>
        </li>
      </ul>
      <hr>
      <div class="synopsis"><%= simple_format(@anime.synopsis) %></div>
    </div>
    <div class="small-12 medium-3 large-3 columns right">
      <%#= best_in_place [@anime, @animelist], :status, type: :select,
                            collection: [
                              ["Currently Watching" , "Currently Watching"],
                              ["Plan to Watch" , "Plan to Watch"],
                              ["Completed" , "Completed"],
                              ["On Hold" , "On Hold"],
                              ["Dropped" , "Dropped"]
                            ],
                            class: 'add-to-list button expanded',
                            place_holder: "Add to library" %>
      <% if user_signed_in? %>

        <% if @animelist.user_id == current_user.id%>
          <p><a data-open="exampleModal1" class="button expanded add-to-list">Update List</a></p>
        <% else %>
          <p><a data-open="exampleModal1" class="button expanded add-to-list">Add to Animelist</a></p>
        <% end %>

        <div class="small reveal form" id="exampleModal1" data-reveal>
          <%= render partial: 'animelists/form' %>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div id="anime_<%= @anime.id %>_favorite" class="favorite-button">
          <%= render partial: 'favorite', locals: {anime: @anime} %>
        </div>
        <h4>Reviews</h4>
          <%= link_to "Write a review", new_anime_review_path(@anime, @review), class: 'button expanded write-a-review' %>
      <% else %>

          <%= link_to "Add to Animelist", new_user_registration_path, class: "button expanded add-to-list" %>

          <%= link_to "Favorite", new_user_registration_path, class: "favorite button expanded" %>

        <h4>Reviews</h4>
          <%= link_to "Write a review", new_user_registration_path, class: 'button expanded write-a-review' %>


      <% end %>
      <div class="reviews">
        <% @reviews.each do |review| %>
          <p>
            <%= link_to truncate(review.content, length: 200), anime_review_path(@anime, review) %>
            <%= link_to "Read more", anime_review_path(@anime, review), class: 'read-more' %>
          </p>
          <span><%= review.user.username %> <%= link_to image_tag(review.user.avatar.url(:thumb)), review.user %></span>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
