<div class="anime">
  <div class="hide-for-small-only header-image ">
    <%# image_tag @anime.header_image.url(:large) %>
    <%= image_tag "",
        data: {
          interchange: "
          [#{@anime.header_image.url(:medium)}, medium],
          [#{@anime.header_image.url(:large)}, large]
          "
        }
    %>
  </div>
  <div class="row">
    <div class="small-12 medium-2 columns">
      <div class="cover-image">
        <%= image_tag "",
            data: {
              interchange: "
              [#{@anime.cover_image.url(:medium)}, small],
              [#{@anime.cover_image.url(:large)}, medium],
              [#{@anime.cover_image.url(:large)}, large]
              "
            }
        %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns">
      <h2 class="anime-name"><%= @anime.name %></h2>
      <h5 class="japanese-name">キルラキル</h5>
      <div class="small-6 large-6 columns">
        <div class="aired_on">Aired</div>
        <div class="ended_on">Ended</div>
        <div class="duration">Duration</div>
      </div>
      <div class="small-6 large-6 columns">
        <div class="aired_on"><%= @anime.aired_on.strftime("%b %d, %Y") %></div>
        <div class="ended_on"><%= @anime.ended_on.strftime("%b %d, %Y") %></div>
        <div class="duration"><%= @anime.duration %></div>
      </div>
    </div>
    <div class="small-12 large-3 colums">
      <div id="anime_<%= @anime.id %>_favorite" class="favorite-button">
        <%= render partial: 'favorite', locals: {anime: @anime} %>
      </div>
      <br>
      <button class="button add-to-list">Add to list</button>
    </div>
    <div class="small-12 large-6 columns">
      <p class="synopsis"><%= @anime.synopsis %></p>
    </div>
  </div>
</div>

<% if false %>
  <div class="reveal form" id="exampleModal1" data-reveal>
    <div id="animelist">
      <%= render partial: 'animelists/form', locals: {animelist: @animelist} %>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


<div id="anime_<%= @anime.id %>_favorite" class="favorite-button">
  <%= render partial: 'favorite', locals: {anime: @anime} %>
</div>
<% end %>
