<%= @user.username %>
<table>
  <thead>
    <tr>
      <th>Anime</th>
      <th>Status</th>
      <th>Episodes_watched</th>
      <th>Rating</th>
      <th>Rewatched</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @animelists.each do |list| %>
        <td><%= link_to list.anime.name, anime_path(list.anime) %></td>
        <td><%= list.status %></td>
        <td><%= list.episodes_watched %></td>
        <td><div class="star-rating" data-score= <%= list.rating %> ></div></td>
        <td><%= list.rewatched %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<script>
$('.star-rating').raty({
  path: '/assets/',
  readOnly: true,
  score: function() {
          return $(this).attr('data-score');
  }
});

</script>
