<div class="sidebar">
  <div class="menu vertical icon-top">
    <li class="menu-text">
      <h3 class="text-center title">Chibi</h3>
    </li>
    <li class="<%= active_class(animes_path) %>">
      <%= link_to "Anime", animes_path %>
    </li>
    <li>
      <%= link_to "Manga", "#" %>
    </li>
    <li>
      <%= link_to "Events", events_path %>
    </li>
    <li class="<%= active_class(events_path) %>">
      <%= link_to "Forum", "#" %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </li>
      <li>
          <%= link_to image_tag(current_user.avatar.url(:large)), current_user %>
      </li>
      <% else %>
        <li>
          <%= link_to "Log in", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
    <% end %>
  </div>
</div>
