<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

  </head>

  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <!-- Left side -->
        <div class="left-menu off-canvas position-left" id="offCanvasLeft" data-off-canvas>

          <!-- Close button -->
          <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>

          <!-- Menu -->
          <ul class="vertical menu">
            <li><%= link_to "Anime", animes_path %></li>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Community", topics_path %></li>
            <li><%= link_to "My List", user_animelist_path(current_user) if user_signed_in? %></li>
          </ul>

        </div>

        <!-- Right side -->
        <div class="right-menu off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">

          <!-- Close button -->
          <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>

          <!-- Menu -->
          <ul class="vertical menu">
            <li><%= link_to "Account", edit_user_registration_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>

        </div>

        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar hide-for-large">
            <div class="title-bar-left">
              <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
              <span class="title-bar-title title">CHIBI</span>
            </div>
            <div class="title-bar-right">
              <span class="title-bar-title">Hi, <%= current_user.username %></span>
              <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
            </div>
          </div>
          <%= render 'layouts/navbar' %>
          <%= render partial: 'layouts/flash' %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
