<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div data-alert class="callout <%= name.to_s == 'notice' ? 'success' : 'alert' %>" data-closable>
          <%= content_tag :div, msg %>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
